<!---MAPPING-->

<div *ngIf="mapping">

    <div style=" position:relative;">
        <div style="padding: 10px;">
            <img src="../../images/luckhana.jpg" class="img-responsive center-block" alt="Responsive image">
        </div>
        <div class="aries text-chart1">
            <span *ngIf="star1 === 'ARIES ' ">1</span>
            <span *ngIf="star2 === 'ARIES ' ">2</span>
            <span *ngIf="star3 === 'ARIES ' ">3</span>
            <span *ngIf="star4 === 'ARIES ' ">4</span>
            <span *ngIf="star5 === 'ARIES ' ">5</span>
            <span *ngIf="star6 === 'ARIES ' ">6</span>
            <span *ngIf="star7 === 'ARIES ' ">7</span>
            <span *ngIf="star8 === 'ARIES ' ">8</span>
            <span *ngIf="star9 === 'ARIES ' ">9</span>
            <span *ngIf="star10 === 'ARIES ' ">0</span>
            <span *ngIf="star11 === 'ARIES ' ">a</span>
        </div>
        <div class="pisces text-chart2">
            <span *ngIf="star1 === 'PISCES ' ">1</span>
            <span *ngIf="star2 === 'PISCES ' ">2</span>
            <span *ngIf="star3 === 'PISCES ' ">3</span>
            <span *ngIf="star4 === 'PISCES ' ">4</span>
            <span *ngIf="star5 === 'PISCES ' ">5</span>
            <span *ngIf="star6 === 'PISCES ' ">6</span>
            <span *ngIf="star7 === 'PISCES ' ">7</span>
            <span *ngIf="star8 === 'PISCES ' ">8</span>
            <span *ngIf="star9 === 'PISCES ' ">9</span>
            <span *ngIf="star10 === 'PISCES ' ">0</span>
            <span *ngIf="star11 === 'PISCES ' ">a</span>
        </div>
        <div class="aquarius text-chart1">
            <span *ngIf="star1 === 'AQUARIUS ' ">1</span>
            <span *ngIf="star2 === 'AQUARIUS ' ">2</span>
            <span *ngIf="star3 === 'AQUARIUS ' ">3</span>
            <span *ngIf="star4 === 'AQUARIUS ' ">4</span>
            <span *ngIf="star5 === 'AQUARIUS ' ">5</span>
            <span *ngIf="star6 === 'AQUARIUS ' ">6</span>
            <span *ngIf="star7 === 'AQUARIUS ' ">7</span>
            <span *ngIf="star8 === 'AQUARIUS ' ">8</span>
            <span *ngIf="star9 === 'AQUARIUS ' ">9</span>
            <span *ngIf="star10 === 'AQUARIUS ' ">0</span>
            <span *ngIf="star11 === 'AQUARIUS ' ">a</span>
        </div>
        <div class="capricornus text-chart2">
            <span *ngIf="star1 === 'CAPRICORNUS ' ">1</span>
            <span *ngIf="star2 === 'CAPRICORNUS ' ">2</span>
            <span *ngIf="star3 === 'CAPRICORNUS ' ">3</span>
            <span *ngIf="star4 === 'CAPRICORNUS ' ">4</span>
            <span *ngIf="star5 === 'CAPRICORNUS ' ">5</span>
            <span *ngIf="star6 === 'CAPRICORNUS ' ">6</span>
            <span *ngIf="star7 === 'CAPRICORNUS ' ">7</span>
            <span *ngIf="star8 === 'CAPRICORNUS ' ">8</span>
            <span *ngIf="star9 === 'CAPRICORNUS ' ">9</span>
            <span *ngIf="star10 === 'CAPRICORNUS ' ">0</span>
            <span *ngIf="star11 === 'CAPRICORNUS ' ">a</span>
        </div>
        <div class="sagitarius text-chart2">
            <span *ngIf="star1 === 'SAGITARIUS ' ">1</span>
            <span *ngIf="star2 === 'SAGITARIUS ' ">2</span>
            <span *ngIf="star3 === 'SAGITARIUS ' ">3</span>
            <span *ngIf="star4 === 'SAGITARIUS ' ">4</span>
            <span *ngIf="star5 === 'SAGITARIUS ' ">5</span>
            <span *ngIf="star6 === 'SAGITARIUS ' ">6</span>
            <span *ngIf="star7 === 'SAGITARIUS ' ">7</span>
            <span *ngIf="star8 === 'SAGITARIUS ' ">8</span>
            <span *ngIf="star9 === 'SAGITARIUS ' ">9</span>
            <span *ngIf="star10 === 'SAGITARIUS ' ">0</span>
            <span *ngIf="star11 === 'SAGITARIUS ' ">a</span>
        </div>
        <div class="scorpio text-chart1">
            <span *ngIf="star1 === 'SCORPIO ' ">1</span>
            <span *ngIf="star2 === 'SCORPIO ' ">2</span>
            <span *ngIf="star3 === 'SCORPIO ' ">3</span>
            <span *ngIf="star4 === 'SCORPIO ' ">4</span>
            <span *ngIf="star5 === 'SCORPIO ' ">5</span>
            <span *ngIf="star6 === 'SCORPIO ' ">6</span>
            <span *ngIf="star7 === 'SCORPIO ' ">7</span>
            <span *ngIf="star8 === 'SCORPIO ' ">8</span>
            <span *ngIf="star9 === 'SCORPIO ' ">9</span>
            <span *ngIf="star10 === 'SCORPIO ' ">0</span>
            <span *ngIf="star11 === 'SCORPIO ' ">a</span>
        </div>
        <div class="libra text-chart1">
            <span *ngIf="star1 === 'LIBRA ' ">1</span>
            <span *ngIf="star2 === 'LIBRA ' ">2</span>
            <span *ngIf="star3 === 'LIBRA ' ">3</span>
            <span *ngIf="star4 === 'LIBRA ' ">4</span>
            <span *ngIf="star5 === 'LIBRA ' ">5</span>
            <span *ngIf="star6 === 'LIBRA ' ">6</span>
            <span *ngIf="star7 === 'LIBRA ' ">7</span>
            <span *ngIf="star8 === 'LIBRA ' ">8</span>
            <span *ngIf="star9 === 'LIBRA ' ">9</span>
            <span *ngIf="star10 === 'LIBRA ' ">0</span>
            <span *ngIf="star11 === 'LIBRA ' ">a</span>
        </div>
        <div class="virgo text-chart3">
            <span *ngIf="star1 === 'VIRGO ' ">1</span>
            <span *ngIf="star2 === 'VIRGO ' ">2</span>
            <span *ngIf="star3 === 'VIRGO ' ">3</span>
            <span *ngIf="star4 === 'VIRGO ' ">4</span>
            <span *ngIf="star5 === 'VIRGO ' ">5</span>
            <span *ngIf="star6 === 'VIRGO ' ">6</span>
            <span *ngIf="star7 === 'VIRGO ' ">7</span>
            <span *ngIf="star8 === 'VIRGO ' ">8</span>
            <span *ngIf="star9 === 'VIRGO ' ">9</span>
            <span *ngIf="star10 === 'VIRGO ' ">0</span>
            <span *ngIf="star11 === 'VIRGO ' ">a</span>
        </div>
        <div class="leo text-chart3">
            <span *ngIf="star1 === 'LEO ' ">1</span>
            <span *ngIf="star2 === 'LEO ' ">2</span>
            <span *ngIf="star3 === 'LEO ' ">3</span>
            <span *ngIf="star4 === 'LEO ' ">4</span>
            <span *ngIf="star5 === 'LEO ' ">5</span>
            <span *ngIf="star6 === 'LEO ' ">6</span>
            <span *ngIf="star7 === 'LEO ' ">7</span>
            <span *ngIf="star8 === 'LEO ' ">8</span>
            <span *ngIf="star9 === 'LEO ' ">9</span>
            <span *ngIf="star10 === 'LEO ' ">0</span>
            <span *ngIf="star11 === 'LEO ' ">a</span>
        </div>
        <div class="cancer text-chart3">
            <span *ngIf="star1 === 'CANCER ' ">1</span>
            <span *ngIf="star2 === 'CANCER ' ">2</span>
            <span *ngIf="star3 === 'CANCER ' ">3</span>
            <span *ngIf="star4 === 'CANCER ' ">4</span>
            <span *ngIf="star5 === 'CANCER ' ">5</span>
            <span *ngIf="star6 === 'CANCER ' ">6</span>
            <span *ngIf="star7 === 'CANCER ' ">7</span>
            <span *ngIf="star8 === 'CANCER ' ">8</span>
            <span *ngIf="star9 === 'CANCER ' ">9</span>
            <span *ngIf="star10 === 'CANCER ' ">0</span>
            <span *ngIf="star11 === 'CANCER ' ">a</span>
        </div>
        <div class="germini text-chart1">
            <span *ngIf="star1 === 'GERMINI ' ">1</span>
            <span *ngIf="star2 === 'GERMINI ' ">2</span>
            <span *ngIf="star3 === 'GERMINI ' ">3</span>
            <span *ngIf="star4 === 'GERMINI ' ">4</span>
            <span *ngIf="star5 === 'GERMINI ' ">5</span>
            <span *ngIf="star6 === 'GERMINI ' ">6</span>
            <span *ngIf="star7 === 'GERMINI ' ">7</span>
            <span *ngIf="star8 === 'GERMINI ' ">8</span>
            <span *ngIf="star9 === 'GERMINI ' ">9</span>
            <span *ngIf="star10 === 'GERMINI ' ">0</span>
            <span *ngIf="star11 === 'GERMINI ' ">a</span>
        </div>
        <div class="taurus text-chart3">
            <span *ngIf="star1 === 'TAURUS ' ">1</span>
            <span *ngIf="star2 === 'TAURUS ' ">2</span>
            <span *ngIf="star3 === 'TAURUS ' ">3</span>
            <span *ngIf="star4 === 'TAURUS ' ">4</span>
            <span *ngIf="star5 === 'TAURUS ' ">5</span>
            <span *ngIf="star6 === 'TAURUS ' ">6</span>
            <span *ngIf="star7 === 'TAURUS ' ">7</span>
            <span *ngIf="star8 === 'TAURUS ' ">8</span>
            <span *ngIf="star9 === 'TAURUS ' ">9</span>
            <span *ngIf="star10 === 'TAURUS ' ">0</span>
            <span *ngIf="star11 === 'TAURUS ' ">a</span>
        </div>
    </div>

    <div class="col-md-4 "></div>
    <div class="col-md-4 ">
        <table class="table table-hover " style="text-align: center; ">
            <tr>
                <td>
                    <label class="control-label ">1 (SUN)</label>
                </td>
                <td>
                    <select [(ngModel)]='star1'>
                    <option>None</option>
                    <option value="ARIES ">ARIES</option>
                    <option value="PISCES ">PISCES</option>
                    <option value="AQUARIUS ">AQUARIUS</option>
                    <option value="CAPRICORNUS ">CAPRICORNUS</option>
                    <option value="SAGITARIUS ">SAGITARIUS</option>
                    <option value="SCORPIO ">SCORPIO</option>
                    <option value="LIBRA ">LIBRA</option>
                    <option value="VIRGO ">VIRGO</option>
                    <option value="LEO ">LEO</option>
                    <option value="CANCER ">CANCER</option>
                    <option value="GERMINI ">GERMINI</option>
                    <option value="TAURUS ">TAURUS</option>
                </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label ">2 (MOON)</label>
                </td>
                <td>
                    <select [(ngModel)]='star2'>
                    <option>None</option>
                    <option value="ARIES ">ARIES</option>
                    <option value="PISCES ">PISCES</option>
                    <option value="AQUARIUS ">AQUARIUS</option>
                    <option value="CAPRICORNUS ">CAPRICORNUS</option>
                    <option value="SAGITARIUS ">SAGITARIUS</option>
                    <option value="SCORPIO ">SCORPIO</option>
                    <option value="LIBRA ">LIBRA</option>
                    <option value="VIRGO ">VIRGO</option>
                    <option value="LEO ">LEO</option>
                    <option value="CANCER ">CANCER</option>
                    <option value="GERMINI ">GERMINI</option>
                    <option value="TAURUS ">TAURUS</option>
                </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label ">3 (MAR)</label>
                </td>
                <td>
                    <select [(ngModel)]='star3'>
                    <option>None</option>
                    <option value="ARIES ">ARIES</option>
                    <option value="PISCES ">PISCES</option>
                    <option value="AQUARIUS ">AQUARIUS</option>
                    <option value="CAPRICORNUS ">CAPRICORNUS</option>
                    <option value="SAGITARIUS ">SAGITARIUS</option>
                    <option value="SCORPIO ">SCORPIO</option>
                    <option value="LIBRA ">LIBRA</option>
                    <option value="VIRGO ">VIRGO</option>
                    <option value="LEO ">LEO</option>
                    <option value="CANCER ">CANCER</option>
                    <option value="GERMINI ">GERMINI</option>
                    <option value="TAURUS ">TAURUS</option>
                </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label ">4 (MERCURY)</label>
                </td>
                <td>
                    <select [(ngModel)]='star4'>
                    <option>None</option>
                    <option value="ARIES ">ARIES</option>
                    <option value="PISCES ">PISCES</option>
                    <option value="AQUARIUS ">AQUARIUS</option>
                    <option value="CAPRICORNUS ">CAPRICORNUS</option>
                    <option value="SAGITARIUS ">SAGITARIUS</option>
                    <option value="SCORPIO ">SCORPIO</option>
                    <option value="LIBRA ">LIBRA</option>
                    <option value="VIRGO ">VIRGO</option>
                    <option value="LEO ">LEO</option>
                    <option value="CANCER ">CANCER</option>
                    <option value="GERMINI ">GERMINI</option>
                    <option value="TAURUS ">TAURUS</option>
                </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label ">5 (JUPITER)</label>
                </td>
                <td>
                    <select [(ngModel)]='star5'>
                    <option>None</option>
                    <option value="ARIES ">ARIES</option>
                    <option value="PISCES ">PISCES</option>
                    <option value="AQUARIUS ">AQUARIUS</option>
                    <option value="CAPRICORNUS ">CAPRICORNUS</option>
                    <option value="SAGITARIUS ">SAGITARIUS</option>
                    <option value="SCORPIO ">SCORPIO</option>
                    <option value="LIBRA ">LIBRA</option>
                    <option value="VIRGO ">VIRGO</option>
                    <option value="LEO ">LEO</option>
                    <option value="CANCER ">CANCER</option>
                    <option value="GERMINI ">GERMINI</option>
                    <option value="TAURUS ">TAURUS</option>
                </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label ">6 (VENUS)</label>
                </td>
                <td>
                    <select [(ngModel)]='star6'>
                    <option>None</option>
                    <option value="ARIES ">ARIES</option>
                    <option value="PISCES ">PISCES</option>
                    <option value="AQUARIUS ">AQUARIUS</option>
                    <option value="CAPRICORNUS ">CAPRICORNUS</option>
                    <option value="SAGITARIUS ">SAGITARIUS</option>
                    <option value="SCORPIO ">SCORPIO</option>
                    <option value="LIBRA ">LIBRA</option>
                    <option value="VIRGO ">VIRGO</option>
                    <option value="LEO ">LEO</option>
                    <option value="CANCER ">CANCER</option>
                    <option value="GERMINI ">GERMINI</option>
                    <option value="TAURUS ">TAURUS</option>
                </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label ">7 (SATURN)</label>
                </td>
                <td>
                    <select [(ngModel)]='star7'>
                    <option>None</option>
                    <option value="ARIES ">ARIES</option>
                    <option value="PISCES ">PISCES</option>
                    <option value="AQUARIUS ">AQUARIUS</option>
                    <option value="CAPRICORNUS ">CAPRICORNUS</option>
                    <option value="SAGITARIUS ">SAGITARIUS</option>
                    <option value="SCORPIO ">SCORPIO</option>
                    <option value="LIBRA ">LIBRA</option>
                    <option value="VIRGO ">VIRGO</option>
                    <option value="LEO ">LEO</option>
                    <option value="CANCER ">CANCER</option>
                    <option value="GERMINI ">GERMINI</option>
                    <option value="TAURUS ">TAURUS</option>
                </select>
                </td>
            </tr>

            <tr>
                <td>
                    <label class="control-label ">8 (ECLIPSE)</label>
                </td>
                <td>
                    <select [(ngModel)]='star8'>
                    <option>None</option>
                    <option value="ARIES ">ARIES</option>
                    <option value="PISCES ">PISCES</option>
                    <option value="AQUARIUS ">AQUARIUS</option>
                    <option value="CAPRICORNUS ">CAPRICORNUS</option>
                    <option value="SAGITARIUS ">SAGITARIUS</option>
                    <option value="SCORPIO ">SCORPIO</option>
                    <option value="LIBRA ">LIBRA</option>
                    <option value="VIRGO ">VIRGO</option>
                    <option value="LEO ">LEO</option>
                    <option value="CANCER ">CANCER</option>
                    <option value="GERMINI ">GERMINI</option>
                    <option value="TAURUS ">TAURUS</option>
                </select>
                </td>
            </tr>

            <tr>
                <td>
                    <label class="control-label ">9 (NEPTUNE)</label>
                </td>
                <td>
                    <select [(ngModel)]='star9'>
                    <option>None</option>
                    <option value="ARIES ">ARIES</option>
                    <option value="PISCES ">PISCES</option>
                    <option value="AQUARIUS ">AQUARIUS</option>
                    <option value="CAPRICORNUS ">CAPRICORNUS</option>
                    <option value="SAGITARIUS ">SAGITARIUS</option>
                    <option value="SCORPIO ">SCORPIO</option>
                    <option value="LIBRA ">LIBRA</option>
                    <option value="VIRGO ">VIRGO</option>
                    <option value="LEO ">LEO</option>
                    <option value="CANCER ">CANCER</option>
                    <option value="GERMINI ">GERMINI</option>
                    <option value="TAURUS ">TAURUS</option>
                </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label ">0 (URANUS)</label>
                </td>
                <td>
                    <select [(ngModel)]='star10'>
                    <option>None</option>
                    <option value="ARIES ">ARIES</option>
                    <option value="PISCES ">PISCES</option>
                    <option value="AQUARIUS ">AQUARIUS</option>
                    <option value="CAPRICORNUS ">CAPRICORNUS</option>
                    <option value="SAGITARIUS ">SAGITARIUS</option>
                    <option value="SCORPIO ">SCORPIO</option>
                    <option value="LIBRA ">LIBRA</option>
                    <option value="VIRGO ">VIRGO</option>
                    <option value="LEO ">LEO</option>
                    <option value="CANCER ">CANCER</option>
                    <option value="GERMINI ">GERMINI</option>
                    <option value="TAURUS ">TAURUS</option>
                </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label ">a (LAKKANA)</label>
                </td>
                <td>
                    <select [(ngModel)]='star11'>
                    <option>None</option>
                    <option value="ARIES ">ARIES</option>
                    <option value="PISCES ">PISCES</option>
                    <option value="AQUARIUS ">AQUARIUS</option>
                    <option value="CAPRICORNUS ">CAPRICORNUS</option>
                    <option value="SAGITARIUS ">SAGITARIUS</option>
                    <option value="SCORPIO ">SCORPIO</option>
                    <option value="LIBRA ">LIBRA</option>
                    <option value="VIRGO ">VIRGO</option>
                    <option value="LEO ">LEO</option>
                    <option value="CANCER ">CANCER</option>
                    <option value="GERMINI ">GERMINI</option>
                    <option value="TAURUS ">TAURUS</option>
                </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button style="text-align: center;" class="btn btn-primary" (click)="convertToTable()">Convert</button>
                </td>
            </tr>
        </table>
    </div>
</div>

<!---TABLE-->

<div *ngIf="table">

    <div class="col-md-4 "></div>
    <div class="col-md-4 ">
        <table class="table table-hover " style="text-align: center; ">
            <tr>
                <td>
                    <label class="control-label ">1 (SUN)</label>
                </td>
                <td>
                    <span>{{star1}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label ">2 (MOON)</label>
                </td>
                <td>
                    <span>{{star2}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label ">3 (MAR)</label>
                </td>
                <td>
                    <span>{{star3}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label ">4 (MERCURY)</label>
                </td>
                <td>
                    <span>{{star4}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label ">5 (JUPITER)</label>
                </td>
                <td>
                    <span>{{star5}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label ">6 (VENUS)</label>
                </td>
                <td>
                    <span>{{star6}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label ">7 (SATURN)</label>
                </td>
                <td>
                    <span>{{star7}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <label class="control-label ">8 (ECLIPSE)</label>
                </td>
                <td>
                    <span>{{star8}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <label class="control-label ">9 (NEPTUNE)</label>
                </td>
                <td>
                    <span>{{star9}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label ">0 (URANUS)</label>
                </td>
                <td>
                    <span>{{star10}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label ">a (LAKKANA)</label>
                </td>
                <td>
                    <span>{{star11}}</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button style="text-align: center;" class="btn btn-warning" (click)="convertToMap()">BACK</button>
                </td>
            </tr>
        </table>
    </div>

</div>