<div style="padding-left: 20%;padding-right: 20%">
<sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
  <sebm-google-map-marker
    *ngFor="let m of locations; let i = index"
    [latitude]="m.latitude"
    [longitude]="m.longitude"
    [markerDraggable]="false">
    <sebm-google-map-info-window>
      <strong>{{m.name}}</strong><br>
      <p>{{m.description}}</p>
    </sebm-google-map-info-window>
  </sebm-google-map-marker>
</sebm-google-map>
</div>
