<section class="hero" id="intro">
    <div class="container" style="margin-left: auto;margin-right: auto">
        <div class="row">
            <div class="col-md-12 text-right navicon">
                <a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center inner">
                <div class="animatedParent">
                    <h1 class="animated fadeInDown go">LUCKHANA</h1>
                    <p class="animated fadeInUp go">Your zodiac and ascendant are already here!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<nav class="menu" style="margin-bottom:70px;">
    <ul class="menu">
        <li class="menu" role="presentation" routerLinkActive="active"><a routerLink="/f1">MapToTable</a></li>
        <li class="menu" role="presentation" routerLinkActive="active"><a routerLink="/f2">TableToMap</a></li>
        <li class="menu" role="presentation" routerLinkActive="active"><a routerLink="/f3">Your Zodiac</a></li>
        <li class="menu" role="presentation" routerLinkActive="active"><a routerLink="/f4">Find Lakhana</a></li>
        <li class="menu" role="presentation" routerLinkActive="active"><a routerLink="/f5List">Lakhana gallery</a></li>
        <li class="menu" role="presentation" routerLinkActive="active"><a routerLink="/f6">About Us</a></li>
    </ul>
</nav>


<div class="outlet">
    <router-outlet></router-outlet>
</div>
